# General
**/*.lnk

# Build system
**/bin
**/obj
**/lib

# Visual Studio
/**/*.sdf
/**/*.suo
/**/*.opensdf
/**/*.opendb
/**/ipch

# CodeBlocks
**/*.layout

# Libraries
/**/havok
/**/Kinect
/**/LeapMotion
/**/Release-Physics
/**/Debug-Physics

# Application
/Other
/Resources
/Research
/Sensors
/Tools
/GameProject/x86
/GameProject/x64


/libs/Qt
/libs/PhysX
/GameProject/*.lnk
