/**/*.lnk
/**/*.sdf
/**/*.suo
/**/*.opensdf
/**/*.opendb
/**/obj
/**/ipch
/**/havok
/**/Kinect
/**/LeapMotion
/**/Release-Physics
/**/Debug-Physics
/Tools
/Other
/Resources
/Sensors
/Research

/Engine/lib
/GameProject/x86
/GameProject/x64

/libs/Qt
/libs/PhysX
