/**/*.sdf
/**/*.suo
/**/Debug
/**/Release
/**/havok
/**/Kinect
/**/LeapMotion
/Tools
/Other
/Resources
/Sensors
/**/Release-Physics
/**/Debug-Physics
/**/*.opensdf
/libs/PhysX
/GameProject/*.lnk
/libs/Qt
/Research
/**/ipch
/GameProject/Visual Studio/*.opendb
