<?xml version="1.0" encoding="UTF-8"?>
<config>
	<window>
		<name>Engine</name>
		<resolution>1920 1080</resolution>
		<fullscreen>false</fullscreen>
		<position>50 50</position>
		<centered>true</centered>
		<visible>false</visible>
	</window>

	<vsync>false</vsync>
	<ssao>false</ssao>

	<resource>OpenGL Engine/Resources.xml</resource>
	<shaders>
		<file>OpenGL Engine/Shaders.xml</file>
	</shaders>
	<scene>OpenGL Engine/Scene.xml</scene>
	<menu>OpenGL Engine/Menu.xml</menu>
</config>