<?xml version="1.0" encoding="UTF-8"?>
<config>
	<window>
		<name>Engine</name>
		<resolution>1280 720</resolution>
		<fullscreen>false</fullscreen>
		<position>50 50</position>
		<centered>true</centered>
		<visible>true</visible>
		<glContext>
			<major>3</major>
			<minor>3</minor>
		</glContext>
	</window>
	

	<vsync>true</vsync>
	<ssao>false</ssao>

	<resource>OpenGL Engine/Resources.xml</resource>
	<shaders>
		<file>OpenGL Engine/Shaders.xml</file>
	</shaders>
	<scene>OpenGL Engine/Scene.xml</scene>
	<menu>OpenGL Engine/Menu.xml</menu>
</config>